@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
	width: 100%;
	font-family: 'poppins', sans-serif;
	color: #222;
}
p{
	font-size: 18px;
	color: #6c757d !important;
}

/* header_wrapper */
.header_wrapper{
	height: 50px;
}
#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
}
#mainNav .navbar-brand img {
    height: 1.5rem;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover{
    color: #ffc800;
}
#mainNav .navbar-brand {
    color: #ffc800;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}

.header_wrapper .navbar-nav a{
	font-size: 16px;
	margin: 5px 5px;
	color: white;

}
.header_wrapper .navbar-nav a:hover{
	color: #d9aa00;
}

/* Accueil */
#home{
	height: 650px;
	background-image: url("image/header-bg.jpg");
	color: white;
}
.accueil .row .col-lg-12{
	padding-top: 150px;
}
#home h1{
	font-size: 80px;
	font-weight: bold;
}
h2{
	font-size: 35px;
	font-weight: bold;
	font-style: italic;
}
.accueil .row .col-lg-12 button{
	background-color: #d9aa00;
	border: 1px solid #d9aa00;
	border-radius: 5px;
	margin-left: 450px;
	padding: 20px 50px;
}

/* Services */
#services{
	height: 700px;
}
#services img{
	margin: 20px 0px;
	width: 130px;
	height: 130px;
	border: 1px solid #ffc800;
	border-radius: 100%;
	background-color: #ffc800;
}
#services h1{
	padding-top: 100px;
	font-weight: bold;
	font-size: 45px;
}
#services h3{
	font-style: italic;
	font-size: 18px;
	color: #6c757d !important;
	padding-bottom: 40px;
}
#services h4{
	font-weight: bold;
	font-size: 30px;
}
/* Portfolio */
#portfolio{
	height: 1050px;
	padding-top: 100px;
	background-color: #f8f9fa;
}
#portfolio h1{
	font-size: 45px;
	font-weight: bold;
}
#portfolio p{
	font-style: italic;
}
#portfolio h5{
	font-weight: bold;
	font-size: 25px;
}
#portfolio .row .col-lg-12{
	padding-bottom: 50px;
	background-color: #f8f9fa;
}
#portfolio .card{
	height: 100%;
	min-height: 350px;
	overflow: hidden;
	border: 1px solid white;
	cursor: pointer;
	box-shadow: 0 0 2px 2px white;
}
#portfolio .card span{
	transition: background-position 4s ease-in-out 0s;
	width: 100%;
	height: 100%;
	background-position: top center;
	background-size: cover;

}

/* About */
#about{
	height: 2100px;
	width: 100%;
}
.about_wrapper {
    padding: 6rem 0;
}
#about h2{
	text-transform: uppercase !important;
	font-size: 2.5rem;
	padding-top: 50px;
    margin-top: 0;
    margin-bottom: 1rem;
}
#about h3{
	font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 4rem;
}
#about .chrono{
	display: block;
	position: relative;
	padding: 0;
	list-style: none;
}
#about .chrono:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 580px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.chrono > li:after, .chrono > li:before {
    display: table;
    content: " ";
}
.chrono > li:after {
    clear: both;
}
#about .chrono li{
	display: list-item;
	position: relative;
	min-height: 100px;
	margin-bottom: 100px;
}

#about .chrono .chrono-image{
	position: absolute;
	z-index: 100;
	left: 50%;
	width: 150px;
	height: 150px;
	margin-left: -50px;
	text-align: center;
	color: white;
	border: 7px solid #e9ecef;
	border-radius: 100%;
	background-color: #ffc800;
}

#about .chrono .chrono-pane1{
	display: block;
	position: relative;
	float: left;
	padding: 0px 20px 20px 30px;
	width: 40%;
	text-align: right;
}
#about .chrono .chrono-pane2{
	display: block;
	position: relative;
	float: right;
	padding: 0px 30px 20px 20px;
	width: 41%;
	text-align: left;
}

.text-muted{
	color: #6c757d !important;
}

#about .chrono .chrono-pane2 p{
	line-height: 1.75;
	margin-top: 0;
	display: block;
	margin-bottom: 0;
	width: 80%;	
}
#about .chrono-body p{
	line-height: 1.75;
	margin-top: 0;
	display: block;
	margin-bottom: 0;
	width: 100%;	
}
.timeline-heading h4, .chrono-heading h4{
    margin-top: 0;
    color: inherit;
    font-weight: bold;
    line-height: 1.2;
}
.chrono-text .chrono-image{
	position: absolute;
	padding-top: 25px;
	left: 50%;
	width: 150px;
	height: 150px;
	margin-left: -50px;
	text-align: center;
	color: white;
	border: 7px solid #e9ecef;
	border-radius: 100%;
	background-color: #ffc800;
}

/* Team */
#team{
	height: 750px;
	background-color: #f8f9fa; 
}
#team .col-lg-12{
	padding-top: 50px;
}
#team h1{
	
	font-size: 40px;
	font-weight: bold;
}
#team h4{
	font-style: italic;
	font-size: 16px;
	color: #6c757d !important;
	padding-bottom: 40px;

}
#team h3{
	font-weight: bold;
}
#team img{
	width: 220px;
	height: 220px;
	border: 7px solid #e9ecef;
	border-radius: 100%;
	margin: 10px 80px;
}
#team .fab{
	margin: 0px 10px;
	padding: 10px 10px;
	border: 1px solid black;
	border-radius: 100%;
	color: white;
	background-color: black;
}
.container .col-lg-3{
	height: 150px;
	padding-top: 50px;
}

/* Contact */
#contact{
	height: 700px;
    background-color: #212529;
    background-image: url(image/map-image.png);
    background-repeat: no-repeat;
    background-position: center;
}
#contact .row .col-lg-12{
	padding-top: 100px;
	color: white;
}
#contact .form .btn{
	margin-left: 450px;
	margin-top: 50px;
	padding: 20px 50px;
	background-color: #b18e0e;
	border: 1px solid #b18e0e;
	font-size: 18px;
	font-weight: bold;
	color: #6c757d !important;
}
#contact .form input{
	height: 60px;
	font-size: 18px;
	font-weight: bold;
	color: #6c757d !important;
}
#contact .form textarea{
	height: 260px;
	font-size: 18px;
	font-weight: bold;
	color: #6c757d !important;;
}

/* footer */
.footer{
	height: 100px;
}
.footer .row{
	padding-top: 40px;
}
.footer p span{
	border: 1px solid black;
	border-radius: 100%;
	padding: 0px 5px;
}
.footer .fab{
	margin: 0px 10px;
	padding: 10px 10px;
	border: 1px solid black;
	border-radius: 100%;
	color: white;
	background-color: black;
}


